footer {
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(9,16,48);
    color: rgb(184, 184, 184);
    padding: 10px;
}
.row {
    color: rgb(131, 131, 131);
    padding-top: 28px;
    display: block;
    text-align: center;
}