.signup {
    display: flex;
    justify-content: center;
    padding: 100px;
}
fieldset {
    border-radius: 50px;
    border-style:ridge;
}
h1 {
    padding-left: 14px;
}
form {
    padding: 6px 10px 8px 10px;

}
input[type="text"], input[type="password"]{
    height: 40px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
}
img {
    cursor: pointer;
    width: 20px;
    margin-left: 250px;
}
.signup_button {
    display: flex;
    justify-content: center;
}
button {
    height: 45px;
    width: 190px;
    font-size: 18px;
    border-radius: 50px;
    border-style: none;
    background-color: #cd9042;
}
.sign_up {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign_up_link {
    margin-left: 8px;
    text-decoration: none;
    color: #e28f22;
}