.signup {
    display: flex;
    justify-content: center;
    padding: 100px;
}
fieldset {
    border-radius: 50px;
    border-style:ridge;
}
h1 {
    padding-left: 14px;
}
form {
    padding: 6px 10px 8px 10px;

}
input {
    height: 40px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    color: red;
}
textarea {
    width: 350px;
    resize: none;
}
.eyeLogo {
    cursor: pointer;
    width: 20px;
    margin-left: 250px;
}
.signup_button {
    display: flex;
    justify-content: center;
}
button {
    height: 45px;
    /* width: 190px; */
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid rgb(184, 184, 184);
    color: rgb(184, 184, 184);
    background-color: rgb(9, 16, 48);;
}
button:hover {
    color: white;
    background-color: rgb(0, 25, 134);
    border: 2px solid white;
}
.sign_up {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign_up_link {
    margin-left: 8px;
    text-decoration: none;
    color: #e28f22;
}